main.photos {
  margin: 0 auto;
  max-width: var(--header-width);
}

main.photos-wide {
  margin: 0 auto;
  max-width: var(--photos-wide);
}

.masonry-grid {
  display: flex; /* Use flexbox for row layout */
  flex-wrap: wrap; /* Allow items to wrap into rows */
  list-style: none;
  margin: 0;
  padding: 0;
}

.masonry-grid li {
  background: var(--accent-1);
  border-radius: 1rem;
  margin: 0.5rem; /* Adjust margin to create spacing */
  overflow: hidden;
  position: relative;
  flex: 1 0 calc(33.333% - 1rem); /* Adjust for 3 columns in wide view */
  box-sizing: border-box;
}

main.photos-wide .masonry-grid li {
  flex: 1 0 calc(25% - 1rem); /* Adjust for 4 columns in wide view */
}

.masonry-grid li::before {
  color: var(--accent-3);
  content: "Loading...";
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.masonry-grid li.loaded::before {
  display: none;
}

.masonry-grid img {
  display: block;
  opacity: 0;
  transition: opacity 0.3s ease;
  width: 100%;
}

.masonry-grid img.visible {
  opacity: 1;
}

.masonry-grid img:hover {
  -moz-filter: brightness(70%);
  -webkit-filter: brightness(70%);
  filter: brightness(70%);
  transition: ease-in-out 0.25s;
}

@media (max-width: 1100px) {
  .masonry-grid li {
	flex: 1 0 calc(33.333% - 1rem); /* 3 columns */
  }
}

@media (max-width: 600px) {
  .masonry-grid li {
	flex: 1 0 calc(50% - 1rem); /* 2 columns */
  }
}

@media (max-width: 375px) {
  .masonry-grid li {
	flex: 1 0 100%; /* 1 column */
  }
}
